html, body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
} 

header {
  background-color: #000;
  position: fixed ;
 
   display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 4.5rem;
  width: 100%;
  z-index: 1000 !important; 
}

 .nav-centralizar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateX(40%);
  z-index: 10;
}

@media (max-width: 999px) {
  .nav-centralizar {
    position: static;
    left: auto;
    top: auto;
    height: auto;
    transform: none;
    width: 100%;
    justify-content: flex-end;
  }
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.25rem;
}

nav a {
  text-decoration: none;
  color: #d9d9d9;
  letter-spacing: 0.188rem;
}

nav a:hover {
  color: red;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

#toggle-mode {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: #FFD700;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
  background-image: url('/assets/icons/sol.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

body.dark-mode #toggle-mode {
  background-color: #ffffff;
  background-image: url('/assets/icons/moon-stars.svg');
}

.nav-list li {
  margin-left: 2rem;
}

.menu-hamburger {
  z-index: 9999 !important;
  cursor: pointer;
  margin-left: auto;
  margin-right: 1.25rem;
  background: none;
  border: none;
  padding: 1;
  color: white;
  font-size: 2rem;
  display: none;
}

.menu-hamburger:focus {
  outline: none;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  #logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  

  .nav-list {
    position: absolute;
    z-index: 0;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #121212;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .menu-hamburger {
    display: block;
    left: 20%;
  }
}

.nav-list.active {
  transform: translateX(0);
  z-index: 1050;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
